{% extends 'polls/app.html' %}

{% block content %}
    <h3>{{question.question_text}}</h3>

    {% if error_message %}
        <p><strong class="msg">{{ error_message}}</strong></p>
    {% endif %}

    <form action="{% url 'votes' question.id %}" method="post">
        {% csrf_token %}

        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}">
            <label for="choice{{forloop.counter}}">{{choice.choice_text}}</label> <br>
        {% endfor %}

        <br>
        <input type="submit" value="vote">
    </form>
{% endblock %}